<div class="stories">
<% @stories.each do |story| %>
  <div class="story">
    <h2><%= link_to story.name, story %></h2>
    <%= pluralize(story.tasks.count, 'task') %> <br />
    <%= link_to "Edit", edit_story_path(story) %> |
    <%= link_to "Delete", story, method: :delete, confirm: "Are you sure?" %>
  </div>
<% end %>
</div>

<p><%= link_to 'Add New Story', new_story_path, class: "shiny_button" %></p>

<fieldset>
	<legend>Drop Story Here</legend>
	<div id="droptarget"></div>
</fieldset>