<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @story.name %>
</p>

<p>
  <b>Body:</b>
  <%= @story.body %>
</p>

<b>Tasks:</b>
<ol>
  <% @story.tasks.each do |task| %>
	<li><%=h task.description %></li>
  <% end %>
</ol>

<br />
<table>
	<tr>
		<td><%= link_to 'Edit Story', edit_story_path(@story), class: "shiny_button" %></td>
		<td><%= link_to 'Go Back', stories_path, class: "shiny_button" %></td>
	</tr>
</table>
